.image-wrapper {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.controls-block {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn
{
    background-color: #d7856f;
    border: 1px solid white;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.btn:hover
{
    background-color: #fff;
    color: #d7856f;
}

.likes-count
{
    font-size: 24px;
    font-weight: 600;
}
