<main>
  <div class="register-box">
    <h1>Register</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="textbox">
        <input type="text" placeholder="Nickname" formControlName="nickname" />
      </div>

      <div class="textbox">
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </div>

      <div class="textbox">
        <input
          type="password"
          placeholder="Repeat Password"
          formControlName="repeatPassword"
        />
      </div>

      <div class="textbox">
        <input type="file" accept="image/*" (change)="onFileChange($event)" />
      </div>

      <button class="btn" type="submit" [disabled]="!registerForm.valid">
        Register
      </button>
    </form>
  </div>
</main>
