<main>
    <div class="login-box">
        <h1>Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="textbox">
                <input type="text" placeholder="Nickname" formControlName="nickname" />
            </div>

            <div class="textbox">
                <input type="password" placeholder="Password" formControlName="password" />
            </div>

            <button class="btn" type="submit" [disabled]="!loginForm.valid">Login</button>
        </form>
    </div>
</main>
